
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//Header background color #F5F5F5
//new color #84D767
//new border color #5CA941


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

header {
  background-color: #F5F5F5;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

header, a {
  text-decoration: none;
}

.bell {
  padding-top: 10px;
  display: inline-block;
}

.github-logo {
  padding-left: 10px;
  height: 30px;
}

.header-actions, li {
  padding-top: 5px;
  display: inline-block;
}

.repo-input {
  height: 30px;
}

.repo-nav-button {
  background-color: #F9F9F9;
}

.count-style {
  background-color: #EEEEEE;
  border-radius: 50%;
  // border: 1px solid;
}

.repo-nav {
  padding-top: 25px;
  border-bottom: 1px solid #EEEEEE;
}

.repo-filter {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}

.current-tab {
  padding-bottom: 23px;
  border-bottom: 2px solid #C9510C;
}

.profile-border {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}

.profile-name {
  color: #666666;
}

.avatar {
  border-radius: 3px solid transparent;
}

.location-style {
  padding-top: 15px;
}

.botom-padding {
  padding-bottom: 5px;
}

.org-border {
  border-top: 1px solid #EEEEEE;
  padding-top: 10px;
}

.button-style {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.repo-style {
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EEEEEE;
}

.link-style {
  font-size: 16px;
  font-weight: bolder;
}

.graph-image {
  width: 150px;
}

.org-img-style{
  height: 24px;
}

.descrip-style {
  border-bottom: 1px solid #EEEEEE;
}

.footer-style {
  margin-top: 75px;
  border-top: 1px solid #EEEEEE;
  padding-top: 30px;
  padding-bottom: 30px;
}
